{{#partial "content"}}
    <div class="blog top">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Buscamos a sus dueños</p>
                <h2>Encontradas</h2>
            </div>
            <div class="row blog-page">
                {{#each encontradas}}
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="{{{datosMascotaEncontrada.fotos.[0].uRLfoto}}}" alt="Blog">
                        </div>
                        <div class="blog-text">
                            <div class="blog-meta">
                                <p><i class="far fa-calendar"></i>{{fecha}}
                                    <i class="fas fa-venus-mars"></i> {{datosMascotaEncontrada.lugar.latitud}}
                                    <i class="fas fa-map-marker-alt"></i> {{datosMascotaEncontrada.lugar.latitud}}
                                </p>
                            </div>
                            <p>
                                {{datosMascotaEncontrada.descripcion}}
                            </p>
                            <a class="btn-mis" href="adopcion_publicacion.html">Ver perfil <i
                                    class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{#eq rol.tipo null}}

    {{> layout.hbs}}

{{/eq}}
{{#eq rol.tipo "Dueño"}}

    {{> layout_duenio.hbs}}

{{/eq}}
{{#eq rol.tipo "Voluntario"}}

    {{> layout_voluntario.hbs}}

{{/eq}}
{{#eq rol.tipo "Rescatista"}}

    {{> layout_rescatista.hbs}}

{{/eq}}